|{{!< default }}
// The tag above means - insert everything in this file into the {body} of the default.hbs template

// The big featured header
header.main-header(class="{{#unless @blog.cover}} no-cover {{/unless}}", style="{{#if @blog.cover}} background-image: url({{@blog.cover}}) {{/if}}")
  nav.main-nav.overlay.clearfix

    |{{#if @blog.logo }}
    a.blog-logo(href='{{ @blog.url }}')
      img(src='{{ @blog.logo }}', alt='{{ @blog.title }}')
    |{{/if}}

    |{{#if @blog.navigation}}
    a.menu-button.icon-menu(href='#')
      span.word Menu
    |{{/if}}

  .vertical
    .main-header-content.inner
      h1.page-title(onclick='hallo();') {{ @blog.title }}
      h2.page-description {{ @blog.description }}

  a.scroll-down.icon-arrow-left(href='#content', data-offset='-45')
    span.hidden Scroll Down

// The main content area on the homepage
main#content.content(role='main')
  // The tag below includes the post loop - partials/loop.hbs
  |{{> "loop" }}